<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles_navbar.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar">

        </nav>
        <main>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Eligendi facilis, unde ullam corrupti illum voluptate doloremque aspernatur veniam
                aliquam cumque optio quasi officiis nesciunt ex obcaecati.
                Molestias eligendi magnam incidunt.
            </p>
        </main>
            