:root{
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary:#b6b6b6;
    --bg-primary:#23232e;
    --text-secondary:#ececec;
    --bg-secondary:#141418;
}

body {
    color: rgb(0, 0, 0);
    background-color:black;
    margin: 0;
    padding: 0;
}
html{
    background-color: black;
}
main{
    margin-left: 5rem;
    padding: 1rem;
}