<%- include ("partials/header") %>
<main class="border mt-5 mr-4 shadow-lg" id="outer">
  <div class="container-fluid mt-4 mb-4 px-4">
    <div class="d-flex  justify-content-around p-4" id="inner">
      <div class="border">
        <img src="test.jpg" id="pic" class="" />
      </div>
      <div>
        One of three columns
      </div>
      <div>
        One of three columns
      </div>
    </div>
  </div>
  <div class="row">
    <% courses.forEach(function(course){ %>
    <div class="col-lg-4 col-12 col-sm-6  p-5">
      <div class="card" style="width: 100%; border-radius: 1.5rem ;">
        <img src="<%= course.image %>" style="
        border-radius: 1.5rem;
        -webkit-box-shadow: 0px 20px 18px 0px rgba(194,180,194,1);
        -moz-box-shadow: 0px 20px 18px 0px rgba(194,180,194,1);
        box-shadow: 0px 20px 18px 0px rgba(194,180,194,1);" class="card-img-top" alt="...">
        <div class="card-body mt-3">
          <h5 class="card-title"><%= course.name %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</main>

<%- include ("partials/footer") %>