<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>YO SUP!</title>
    <link rel="stylesheet" href="/css/styles_home.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
    <script src="https://kit.fontawesome.com/38da4db18b.js" crossorigin="anonymous"></script>
    <script src="/js/js_homePage.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
</head>

<body>
    <section>
        <div class="cover"></div>
        <div class="content">
            <div class="welcome_text">
                <h1>Hello!</h1>
            </div>
            <div class="main_content">
                <h1 id="logo">ACADEMIA</h1>
                <p id="welcome"> Welcome, we will help you make your future better.
                    Go ahead select the courses you want to opt for.
                    <p id="love">Made with &#10084 for developers by devleopers. </p>
                </p>
                <div class="row">
                    <div class="col-md nav-item">
                        <a href="/register" class="nav-link">
                            <span class="link-text"> <i class="fas fa-user-plus mr-3"></i>Sign Up</span>
                        </a>
                    </div>
                    <div class="col-md nav-item">
                        <a href="/login" class="nav-link">
                            <div class="link-text"><i class="fas fa-sign-in-alt mr-3"></i>Log In</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>